.header {
    height: rem(65px);
    padding-left: rem(15%);
    padding-right: rem(15%);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  

